body {
    background-image: url('pinkwall.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: burlywood;

}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 300px;
    margin: auto;
    
    }

.name {
    grid-column: 1;
    grid-row: 1;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}

.present {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 120px 0px 30px;
    font-family: 'Baloo Chettan 2', cursive;    
    font-size: 25px;
}

.photo1 {                        
    grid-area: 1 / 2 / span 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width:600px) {
    body{
        background: black;
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        width:100%;
        margin: auto;
        color: white;
        background: black;}
    } 

@media only screen and (min-width:768) {
    body{
        background: darkorchid;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        width:100%;
        margin: auto;
        color: red;}

}