.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto auto auto;
    }

section.profile {
    grid-column: 2;
    grid-row: 1/2;
    background-color: blueviolet;
    }
    
section.history {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: yellowgreen;
    }
section.academic {
    grid-column: 2;
    grid-row: 4;
    background-color: blue;
    }
section.work {
    grid-column: 2/2;
    grid-row: 3/4;
    background-color: red;
    }
section.photo {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    }

section.contact {
    grid-column: 1;
    grid-row: 3/5;
    background-color: peru;
    display: flex;
    justify-content: space-between;
    }
    
 img {
    max-width: 500px;
    height: auto;
    }
    