.grid-container {
    height: 100%;
    width: 900px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 250px 250px 250px 250px;
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Cormorant Unicase', serif;
    }

section.profile {
    grid-column: 2;
    grid-row: 1/2;
    background-color: black;
    text-align: left;
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Cormorant Unicase', serif;
    border-bottom-style: solid;
    border-bottom-color: white;
    }

h1 {
    color: red;
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 50px;
}

h3 {
    color: red;
    height: 200px;
    margin: 0 0 0 50;
    font-size: 25px;
}

section.photo {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(255,0,21);
    display: flex;
    justify-content: space-between;
    background-image: url(AliceCooper.jpg);
    background-size: cover;
    height: 100%;
    }

img {
    width: 400px;
    height: auto;
    }

section.summary {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: black;
    color: red;
    display: flex;
    text-align: center;
}

.personal {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 10 0 50;
}    

h2 {
    font-size: 30px; 
    margin: 20 0 0 0; 
}

p {
    font-size: 16px;
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    width: 250px;
    margin: 5 10 5 50;
}


section.work {
    grid-column: 2/2;
    grid-row: 3/4;
    background-color: black;
    color: red;
    display: flex;
    flex-direction: row;
    }    

 h4 {
    font-size: 30px; 
    margin: 20 0 0 0;   
 }   
  
.workhistory {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 0 0 50;
}   
.whpoints {
    display: flex;
    flex-direction: column;
    margin: 25 0 0 100;
}


section.academic {
    grid-column: 2;
    grid-row: 4;
    background-color: blue;
    }

section.contact {
    grid-column: 1;
    grid-row: 3/5;
    background-color: peru;
    display: flex;
    flex-direction: column;
    }
    

    